<% include ../partials/header %>
  <h1>Login</h1>
  <form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
      <a href="/"></a>
  </form>

<% include ../partials/footer %>
