<% include ../partials/header %>
  <h1>Signup</h1>
  <form action="/users/signup" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
      <a href="/"></a>
  </form>

<% include ../partials/footer %>
