<% include ../partials/header %>
  <h1>Create a Category</h1>
  <form action="/category/new" method="post">
      <lable for="name">Category Name</label>
      <input type="text" id="name" name="name">


      <input type="submit" value="Crear">
      <a href="/category"></a>
  </form>

<% include ../partials/footer %>
