<% include ../partials/header %>
  <h1>Create a Post</h1>
  <form action="/blog/post/new" method="post">
      <lable for="title">Ttitulo</label>
      <input type="text" id="title" name="title">

      <lable for="image">Image</lable>
      <input type="text" id="image" name="image">

      <lable for="content">content</lable>
      <input type="text" id="content" name="content">

      <select name="category">
        <% categories.forEach(function(category){ %>
        <option value="<%= category.name%>"><%= category.name%></option>
        <% }) %>
      </select>

      <input type="submit" value="Crear">
      <a href="/blog"></a>
  </form>

<% include ../partials/footer %>
